{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Send" class="button button-primary button-raised button-block"/>
    </form>
</div>
{% endblock %}
