
.Dashboard
    display: flex
    height: 100%
    overflow-y: hidden

.Dashboard-screen-size
    text-align: center
    margin: 40px
    font-weight: 700

.Dashboard-sidebar-items
    margin-top: 10px
    margin-bottom: 10px

.Dashboard-sidebar-item
    padding-top: 10px
    padding-bottom: 10px
    display: block
    font-weight: 700
    padding-left: 20px
    overflow: hidden
    text-overflow: ellipsis
    transition: color 0.2s
    &:not(.Dashboard-sidebar-item-active):hover
        color: darken($primary, 15%)

.Dashboard-sidebar-item-active
    background-color: $primary-dark
    color: #ffffff !important
    border-right: 5px solid darken($primary, 15%)

@media all and (max-width: 600px)
    .Dashboard
        display: none
@media all and (min-width: 600px)
    .Dashboard-screen-size
        display: none

.Dashboard-left-panel
    width: 30%
    background-color: darken(#ffffff, 10%)
    height: 100%
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: space-between

.Dashboard-bottom
    padding: 20px
    color: #ffffff
    background-color: $dark-grey

.Dashboard-balance-label
    color: darken(#ffffff, 20%)

.Dashboard-right-panel
    width: 70%
    overflow-y: auto

.Dashboard-label
    font-weight: 700
    color: lighten($dark-grey, 20%)
    text-transform: uppercase
    font-size: 0.8em
    margin-top: 30px
    padding-left: 20px

.Dashboard-none
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 20px
    color: $grey

.Dashboard-add
    display: block
    margin-top: 10px
    padding-left: 20px

.Dashboard-empty-state
    padding-top: 30px
    text-align: center
    color: $grey
.Dashboard-empty-state b
    display: block
    font-size: 1.5em
    margin-bottom: 20px
    color: $dark-grey

.Dashboard-status
    background-color: lighten($dark-grey, 10%)
    color: #ffffff
    padding: 10px

.Dashboard-toggle-button
    color: #cccccc
    margin-left: 10px
    margin-right: 0px
    padding: 2px
    padding-left: 10px
    padding-right: 0px
    text-decoration: none
    border-left: 1px solid grey
    &:hover, &:focus
        color: white  
        outline: none

.Dashboard-alert
    padding: 20px
    background-color: #1f7a7a
    color: white

.Dashboard-code
    background-color: black
    padding: 20px
    font-family: $monospace-font
    border-bottom-left-radius: 5px
    border-top-left-radius: 5px

#clipboard-trigger
    border: none
    padding: 20px
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
#clipboard-trigger:hover
    background-color: darken(white, 10%)
    box-shadow: 0px 2px 3px #4d4d4d