
.Onboard-halftile
  margin: 20px
  padding: 20px
  box-shadow: inset 0px 0px 0px 2px $light-grey
  border-radius: 10px
  cursor: pointer
  transition: box-shadow 0.2s
  height: 100%
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &:hover, &:focus
      box-shadow: inset 0px 0px 0px 2px $blue
@media all and (min-width: 600px)
  .Onboard-halftile
    width: 100%

.Onboard-halftile:active h2
  transition: color 0.1s
  color: black

.Onboard-picadilly-circus
  background-image: url("/static/img/picadilly-circus-min.jpg")
  background-size: cover
  height: 100%