
$primary-color: #6666ff

.Frame-body
    padding: 15px
    // Native font stack
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    font-size: 15px
.Frame-title
    font-weight: bold
.Frame-button
    display: block
    padding-top: 10px
    padding-bottom: 10px
    text-align: center
    color: #ffffff
    text-decoration: none
    border-radius: 10px
    background-color: $primary-color
    transition: background-color 0.1s
    &:hover
        background-color: darken($primary-color, 5%)
.Frame-bottom-text
    color: $primary-color
    text-decoration: none
    display: block
    margin-top: 20px
    &:hover
        color: darken($primary-color, 5%)