
//@import "~bootstrap/scss/bootstrap"
//@import "~Buttons/scss/buttons"

//@import "fonts"
//@import "fontawesome"
//@import "promotion"
//@import "stripe"

@import "base"
@import "promotion"
@import "onboard"
@import "dashboard"

/**.badge-warning
    font-size: 20px
    margin-left: 20px

/**.navbar.navbar-light.bg-light
    margin-bottom: 30px

/**.footer
    position: absolute
    bottom: 0
    width: 100%
    background-color: #f5f5f5
    padding-top: 20px
    padding-bottom: 20px

/**.error
    font-size: 15px
    font-style: italic
    color: red

/**.google-plus-icon
    font-size: 25px
    color: red
    vertical-align: middle
/**.google-plus-text
    font-size: 15px
    color: red
// .google-plus:hover
    text-decoration: none
// a:hover
    text-decoration: underline
    text-decoration-style: dotted
// .datatable-search
    margin-top: 10px
    margin-bottom: 10px
// .dataTable-sorter
    color: white
// .dataTable-sorter:hover
    color: white
// .dataTable-pagination *
  display: inline-block
  margin: 10px
// .dataTable-pagination *:hover
  text-decoration: none


/**@include media-breakpoint-down(sm)
    .badge-warning, .footer, #click_table_container, #click_table
        display: none
    body
        overflow-x: hidden**/