{% extends "_base.html" %}
{% load mathfilters %}

{% block head %}
<script type="application/javascript" src="{% static "table.js" %}"></script>
<script type="application/javascript" src="{% static "frame.js" %}"></script>
{% endblock head %}

{% block content %}
<!--<div class="container">
    <a href="/" class="btn linkbtn" style="margin-top:0px"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back Home</a>
    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ ad.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ ad.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ ad.body }}</td>
        </tr>
        <tr>
            <th>Destination URL</th>
            <td>{{ ad.target_url }}</td>
        </tr>
    </table>
    <div class="text-right">
        {% if ad.paused == False %}
            <a href="{% url "pause_advertisement" ad.id %}" class="btn btn-danger" id="pause" data-turbolinks="false">Pause Campaign</a>
        {% else %}
            <a href="{% url "pause_advertisement" ad.id %}" class="btn btn-danger" data-turbolinks="false">Resume Campaign</a>
        {% endif %}
    </div>
    <div style="padding:40px">
        <div class="row">
            <div class="col-4">Total Impressions</div>
            <div class="col-4">Total Clicks</div>
            <div class="col-4">Click Rate</div>
        </div>
        <div class="row">
            <div class="col-4"><h1 class="display-4">{{ ad.views }}</h1></div>
            <div class="col-4"><h1 class="display-4">{{ total_clicks }}</h1></div>
            <div class="col-4"><h1 class="display-4">{{ conversion_rate }}%</h1></div>
        </div>
    </div>
    <div id="click_table_container">
        <h3>Clicks</h3>
        <table class="table" id="click_table">
            <thead class="bg-primary">
                <tr>
                    <th>Time</th>
                    <th>IP Address</th>
                    <th>Referring Website</th>
                    <th>Price <i class="fas fa-question-circle" style="font-size:20px;color:#d9d9d9;cursor:default" id="tooltip"></i></th>
                </tr>
            </thead>
            {% for click in ad.adclick_set.all %}
                <tr>
                    <td><b>{{ click.datetime|date }} {{ click.datetime|time }}</b><br/>{{ click.datetime|timesince }} ago</td>
                    <td><span class="geoip">{{ click.ip }}</span></td>
                    <td>{{ click.website.url }}</td>
                    <td>${{ click.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>-->
<div class="Dashboard content">
    <div class="Dashboard-left-panel">
        <div class="Dashboard-top">
            <div class="Dashboard-label">Websites</div>
            <div class="Dashboard-sidebar-items">
                {% if user.profile.website_set.all %}
                    {% for website in user.profile.website_set.all %}
                        <a
                            class="Dashboard-sidebar-item nostyle"
                            href="{% url "website" website.id %}">
                            {{ website.url }}
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="Dashboard-none">No websites</div>
                {% endif %}
            </div>
            {% if user.profile.stripe_user_id == "0" %}
                <a class="button-subtle Dashboard-add" href="{% url "stripe_connect" %}">Sign up to be a publisher</a>
            {% else %}
                <a class="button-subtle Dashboard-add" href="{% url "create_website" %}">Add new</a>
            {% endif %}
            <div class="Dashboard-label">Advertisements</div>
            <div class="Dashboard-sidebar-items">
                {% if user.profile.advertisement_set.all %}
                    {% for advertisement in user.profile.advertisement_set.all %}
                        <a
                            class="Dashboard-sidebar-item nostyle {% if advertisement == ad %}Dashboard-sidebar-item-active{% endif %}"
                            href="{% url "advertisement" advertisement.id %}">
                            {{ advertisement.title }}
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="Dashboard-none">No advertisements</div>
                {% endif %}
            </div>
            {% if user.profile.stripe_customer == "0" %}
                <a class="button-subtle Dashboard-add" href="{% url "stripe_elements" %}">Sign up to be an advertiser</a>
            {% else %}
                <a class="button-subtle Dashboard-add" href="{% url "create_advertisement" %}">Add new</a>
            {% endif %}
        </div>
        <span class="Dashboard-bottom">
            <span class="Dashboard-balance-label">Total Balance</span>
            <div style="float: right">
                {% if total_balance >= 0 %}
                    ${{ total_balance }}
                {% else %}
                    -${{ total_balance|abs }}
                {% endif %}
            </div>
        </div>
        <div class="Dashboard-right-panel" style="display: flex; overflow: scroll">
            <div style="width: 60%">
                <div class="Dashboard-status">
                    Status
                    <div style="float: right">
                    {% if ad.passed == False %}
                        <span class="dot red"></span>
                        <span style="color: #cccccc" id="pending-review">Pending review</span>
                    {% elif ad.paused == True %}
                        <span class="dot red"></span>
                        <span style="color: #cccccc">Paused</span>
                        <a href="{% url "pause_advertisement" ad.id %}" class="Dashboard-toggle-button default-style" data-turbolinks="false">Unpause</a>
                    {% else %}
                        <span class="dot green"></span>
                        <span style="color: #cccccc">OK</span>
                        <a href="{% url "pause_advertisement" ad.id %}" class="Dashboard-toggle-button default-style"  id="pause_ad" data-turbolinks="false">Pause</a>
                    {% endif %}
                    </div>
                </div>
                <div id="vue-app" v-cloak>
                    <img src="{% static "img/spinner.gif" %}" class="loading" style="height: 100px; margin-left: auto; margin-right: auto; margin-top: 20px">
                    <div style="display: flex; width: 100%; justify-content: space-around; margin-top: 20px; text-align: center">
                        <div>
                            Total Views<br/>
                            <b><% api.total_views %></b>
                        </div>
                        <div>
                            Total Clicks<br/>
                            <b><% api.total_clicks %></b>
                        </div>
                        <div>
                            Click Rate<br/>
                            <b><% click_rate %></b>
                        </div>
                    </div>
                    <l-map style="width: 100%; height: 400px; margin-top: 20px" :min-zoom="1.3" :center="[45.522561, 10.110652]" :max-bounds="bounds" :bounds="bounds">
                        <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png" :no-wrap="true"></l-tile-layer>
                        <l-marker v-for="click in clicks_geolocated" :key="click.id" :lat-lng="[click.location.location.latitude, click.location.location.longitude]">
                            <l-popup>
                                <b>Location:&nbsp;</b><% click.location.city.names.en %>, <% click.location.country.names.en %>
                                <br/>
                                <b>Price:&nbsp;</b>$<% get_price(click) %>
                                <br/>
                                <b>Referring website:&nbsp;</b><a :href="click.website.url" target="_blank" rel="noopener"><% click.website.url %></a>
                            </l-popup>
                        </l-marker>
                    </l-map>
                    <line-chart :data="api.time_series" :download="true" :curve="false"></line-chart>
                </div>
            </div>
            <div class="panel" style="width: 40%; text-align: center; pointer-events: none">
                <b style="color: #808080; margin-bottom: 5px; display: inline-block">Preview</b>
                <div style="box-shadow:0px 0.5px 1px black;border-radius:4px; height: 300px; text-align: left">
                    <div class="Frame-body">
                        <div class="Frame-title">{{ ad.title }}</div>
                        <p>{{ ad.body }}</p>
                        <a
                            href=""
                            class="Frame-button default-style">
                            Learn More
                        </a>
                        <a href="" class="Frame-bottom-text default-style">
                            Advertising by WebSuggest
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Dashboard-screen-size">
    <img src="{% static "img/android-phone.png" %}" class="illustration"></img>
    <p>Your screen is too small for WebSuggest Dashboard. Try accessing WebSuggest from a laptop or desktop computer.</p>
</div>
{% endblock %}
