{% extends "_base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-4">WebSuggest is in early beta.</h1>
    <hr/>
    <p class="lead" style="margin-top:20px">You will likely see bugs and security vulnurabilities. Please do report them to <a href="mailto:bugs@websuggest.net">bugs@websuggest.net</a>. As it is in Beta, there is no payment system yet; all advertisements are free and no publishers will be paid. If you wish to contact me for a reason other than a bug report, you can email <a href="mailto:contact@websuggest.net">contact@websuggest.net</a>.</p>
</div>
{% endblock %}
