{% extends "_base.html" %}

{% block content %}
<div class="halves" style="height: 100%">
    <div class="Onboard-picadilly-circus recessive-half">
    </div>
    <div class="panel-extra dominant-half">
        <img src="{% static "img/Stripe.jpeg" %}" style="max-height: 100px" />
        <h1>Sign up to be a publisher</h1>
        <p>
            In order to recieve payments, you must connect your account to the <a href="https://stripe.com" target="_blank" rel="noopener">Stripe</a> payment processor.
        </p>
        <p style="margin-top:30px;margin-bottom:30px">
            If you don't have a Stripe account, Stripe will ask you some personal questions, including your name, address and bank account number. This is only to verify your identity and legitimacy. You may read the Stripe privacy policy <a href="https://stripe.com/privacy" target="_blank" rel="noopener">here</a>.
        </p>
        <a href="{{ redirect }}" class="button primary bg-light"><span>Continue</span></a>
    </div>
</div>
{% endblock %}
