{% extends "_base.html" %}

{% block content %}
<div class="container">
    <form
        role="form"
        class="form panel-extra"
        method="post"
        action="{% url "create_website" %}">
        {% csrf_token %}
        <h1>Add a Website</h1>
        {% for field in form %}
            <label for="{{ field.id_for_label }}" class="label">{{ field.label_tag }}</label>
            <input
                class="input text"
                style="width: 100%"
                id="{{ field.id_for_label }}"
                name="{{ field.html_name }}"
                type="{{ field.field.widget.input_type }}"
            />
            {{ field.errors }}
        {% endfor %}
        <p>Websites that attempt clickfraud, clickjacking or deceptive advertising practices will be banned. Websites for the sole purpose of displaying advertisements will be banned. <br/><br/><b>WebSuggest reserves the right to ban any website at any time without warning or justification.</b></p>
        <input type="submit" class="button primary bg-light" value="Submit" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
