{% extends "_base.html" %}

{% block content %}
<div class="container">
    <form
        role="form"
        class="form panel-extra"
        method="post"
        action="{% url "create_advertisement" %}">
        {% csrf_token %}
        <h1>Add an Advertisement</h1>
        {% for field in form %}
            <label for="{{ field.id_for_label }}" class="label">{{ field.label_tag }}</label>
            <input
                class="input text"
                style="width: 100%"
                id="{{ field.id_for_label }}"
                name="{{ field.html_name }}"
                type="{{ field.field.widget.input_type }}"
            />
            {{ field.errors }}
        {% endfor %}
        <ul>
            <li>Advertisements cannot advertise software that is categorized as malware or a Potentially Unwanted Program by at least two scanners on VirusTotal.</li>
            <li>Advertisements cannot include offensive or illegal language or content.</li>
            <li>Advertisements cannot be misleading and must announce the exact product being advertised in a clear manner.</li>
        </ul>
        <b style="margin-top:0px;margin-bottom:20px">WebSuggest reserves the right to remove any advertisement at any time without warning or justification.</b>
        <input type="submit" class="button primary bg-light" value="Submit" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
