{% extends "_base.html" %}
{% load mathfilters %}

{% block content %}
<div class="Dashboard content">
    <div class="Dashboard-left-panel">
        <div class="Dashboard-top">
            <div class="Dashboard-label">Websites</div>
            {% if user.profile.website_set.all %}
                {% for website in user.profile.website_set.all %}
                    <a
                        class="Dashboard-sidebar-item nostyle"
                        href="{% url "website" website.id %}"
                        >
                        {{ website.url }}
                    </a>
                {% endfor %}
            {% else %}
                <div class="Dashboard-none">No websites</div>
            {% endif %}
            {% if user.profile.stripe_user_id == "0" %}
                <a class="button-subtle Dashboard-add" href="{% url "stripe_connect" %}">Sign up to be a publisher</a>
            {% else %}
                <a class="button-subtle Dashboard-add" href="{% url "create_website" %}">Add new</a>
            {% endif %}
            <div class="Dashboard-label">Advertisements</div>
            {% if user.profile.advertisement_set.all %}
                {% for advertisement in user.profile.advertisement_set.all %}
                    <a class="Dashboard-sidebar-item nostyle" href="{% url "advertisement" advertisement.id %}">{{ advertisement.title }}</a>
                {% endfor %}
            {% else %}
                <div class="Dashboard-none">No advertisements</div>
            {% endif %}
            {% if user.profile.stripe_customer == "0" %}
                <a class="button-subtle Dashboard-add" href="{% url "stripe_elements" %}">Sign up to be an advertiser</a>
            {% else %}
                <a class="button-subtle Dashboard-add" href="{% url "create_advertisement" %}">Add new</a>
            {% endif %}
        </div>
        <span class="Dashboard-bottom">
            <span class="Dashboard-balance-label">Total Balance</span>
            <div style="float: right">
                {% if total_balance >= 0 %}
                    ${{ total_balance }}
                {% else %}
                    -${{ total_balance|abs }}
                {% endif %}
            </div>
        </div>
    <div class="Dashboard-right-panel">
        <div class="Dashboard-empty-state">
            <img src="{% static "img/ecology-globe.png" %}" class="illustration"></img>
            <b>You have no advertisements and no websites.</b>
            Use the panel on the left to create a new advertisement or website.
        </div>
    </div>
</div>
<div class="Dashboard-screen-size">
    <img src="{% static "img/android-phone.png" %}" class="illustration"></img>
    <p>Your screen is too small for WebSuggest Dashboard. Try accessing WebSuggest from a laptop or desktop computer.</p>
</div>
{% endblock %}
