{% extends "_base.html" %}

{% block content %}
<center class="content">
    <h1>Welcome to WebSuggest!</h1>
    <div class="halves">
        <a class="Onboard-halftile nostyle" href="{% url "stripe_connect" %}">
            <img src="{% static "img/monitor-cash-credit-card.png" %}" class="illustration"></img>
            <h2>Become a publisher</h2>
            <p>Put an ad on your website and start making money</p>
        </a>
        <a class="Onboard-halftile nostyle" href="{% url "stripe_elements" %}">
            <img src="{% static "img/success-goal-businessman.png" %}" class="illustration"></img>
            <h2>Become an advertiser</h2>
            <p>Promote your message on a growing network at low cost</p>
        </a>
    </div>
</center>
{% endblock %}